.background-container {
    margin: 0 auto;
    width: 100%; 
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .main {
    
        display:flex;
        flex-direction: column;

       
    }
    .dataGriddiv {
       
        height: 20rem;
        padding-bottom: 2rem;
        
    }
    .select {
        width: 10rem;
        margin-top: 0rem!important;
    }

    .finish {
        height: 3rem;
        width: 4rem;
        margin-top: 4px!important;
    }
    .background{

    }
    .table {
        width:15rem!important;
        height: 23rem!important;
        font-size: 5px;
    }
    .actions {
     
  
    }
    .top-actions {
        display: flex;
        justify-content: center;
      
  
    }
    

 
}

