body {
  margin: 0;
  font-family: "Raleway", sans-serif;
 font-optical-sizing: auto;

 font-style: normal;  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

