.vl {
    border-left: 1px solid black;
    height: 20rem;
    margin-left: -9rem; 
    bottom:21.23rem;
    opacity: 0.2;
    width: 1px;
  }
  @media screen and (max-width: 768px) {
    .topRow {
      flex-direction: column;
      align-items: center;
      padding-bottom: -1rem!important;
    }

    .backgroundSales {
      display: flex!important;
      flex-direction: column!important;
      align-items: center!important;
      height:40rem!important;
      width: 20rem!important;
      margin-bottom:2rem;
    }
    .backgroundLast {
      width:20rem!important;
      border-top-right-radius: 0px!important;
    }
    .chartDiv {
      width: 20rem!important;
      margin-top: -1rem;
      display: flex!important;
      flex-direction: column!important;
      align-items: center!important;
    }
    .chart {
      width: 200;
    }
    .hline {
      margin-right: 5.5rem;
      margin-top: -1rem;
    }
    .box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .background1 {
      border-top-right-radius: 15px;
    }
  }